.btn {
  background-color: var(--color-primary-dark);
  border-radius: 4px;
  height: 50px;
  /* 52 */
  padding: 12px 27px;
  margin-right: 20px;
  color: var(--white-1);
  font-size: 22px;
  font-weight: 500;
}

.btn--accent-dark {
  background-color: var(--color-accent-dark);
}

.btn--accent-dark-outline {
  border-color: var(--color-accent-dark);
}
