nav {
  padding: 1rem var(--mx-sm); 
  display: flex;
  flex-flow: row unwrap;
  justify-content: space-between;
  background-color: var(--color-text-white-dark)
}

.nav__header {

}

.nav__contact-info {

}

.nav__menu ul{
  display: flex;
  flex-flow: row unwrap;
  justify-content: space-between;
}

.nav-menu__link {
  text-transform: uppercase;
  padding-left: 2vw;
  font-size: 1.25rem;
  /* color: (--color-text-white-dark); */
}