@import "Resets/normalize.css";
@import "Resets/reset.css";
@import "Styles/typography.css";
@import "Styles/variables.css";
@import "Styles/buttons.css";
@import "Styles/nav.css";
@import "Styles/footer.css";
@import "Styles/responsiveness.css";
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-family: "Libre Baskerville", Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background-color: var(--color-white-2);
}

main {
  width: 100%;
}

h2,
h3,
h4,
h5 {
  color: var(--color-gray-dark);
  margin-bottom: 0.8em;
}

p {
  color: var(--color-gray-light);
  font-size: 1rem;
}

h1 {
  font-size: 5rem;
  font-weight: 300;
  color: var(--color-text-white-dark);
}

h2 {
  font-size: 3.5rem;
  font-weight: 300;
}

h3 {
  font-size: 2rem;
  font-weight: 300;
}

h4 {
  font-size: 1.75rem;
  font-weight: 300;
}

h5 {
  font-size: 1.5rem;
  font-weight: 300;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

section {
  padding: 16vh var(--mx-bg);
}

section section {
  padding: 1rem;
}

.decor {
  background-color: var(--color-primary-dark);
  border-radius: 1px;
  transform: rotate(45deg);
  height: 0.4rem;
  width: 0.4rem;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.align-end {
  align-self: flex-end;
}

.align-start {
  align-self: flex-start;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.map-responsive{
  overflow: hidden;
  padding-bottom: 25%;
  position: relative;
  height: 0;
}

.map-responsive::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events:none;
  background-color: rgba(71, 78, 37, 0.15);
}

.map-responsive iframe{
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}