@import "Resets/normalize.css";
@import "Resets/reset.css";
@import "Styles/typography.css";
@import "Styles/variables.css";
@import "Styles/buttons.css";
@import "Styles/nav.css";
@import "Styles/footer.css";
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-family: "Libre Baskerville", Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  box-sizing: border-box;
  overflow-x: hidden;
}

@media (min-width: 1660px) {
  html {
    font-size: 17px;
  }
}

@media (min-width: 1920px) {
  html {
    font-size: 20px;
  }
}

body {
  background-color: var(--color-white-2);
}

main {
  width: 100%;
}

h2,
h3,
h4,
h5 {
  color: var(--color-gray-dark);
  margin-bottom: 0.8em;
}

p {
  color: var(--color-gray-light);
  font-size: 1rem;
}

h1 {
  font-size: 5rem;
  font-weight: 300;
  color: var(--color-text-white-dark);
}

h2 {
  font-size: 3.5rem;
  font-weight: 300;
}

h3 {
  font-size: 2rem;
  font-weight: 300;
}

h4 {
  font-size: 1.75rem;
  font-weight: 300;
}

h5 {
  font-size: 1.5rem;
  font-weight: 300;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

section {
  /* height: 100vh; */
  padding: 16vh var(--mx-bg);
}

section section {
  padding: 1rem;
}

.decor {
  background-color: var(--color-primary-dark);
  border-radius: 1px;
  transform: rotate(45deg);
  height: 0.4rem;
  width: 0.4rem;
}

.home-section__header {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.home-section__description {
  text-align: justify;
  font-size: 1.3rem;
  line-height: 1.6em;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

/* Rooms section */

#rooms-section {
  background-color: var(--color-white-3);
}

/* Utilities section */

#utilities-section {
  border: 1px gray solid;
}

.utilities-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 3rem 5rem;
  margin-top: 4rem;
}
.utility {
  /* margin: 1rem 0rem; */
}

.circle-icon-container {
  background-color: var(--color-primary-dark);
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-icon {
  width: 60%;
  height: 60%;
  background-size: contain;
}

.smaller-icon {
  width: 54%;
  height: 54%;
}

.utility__header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.utility__header h5 {
  margin-bottom: 0;
  margin-left: 0.8rem;
  color: var(--color-primary-dark);
  font-size: 1.2rem;
  font-weight: 600;
}

.utility__description {
  margin-top: 0.8rem;
  font-size: 0.9rem;
}

/* Attractions section */

#attractions-section {
  border: 1px gray solid;
}

#attractions-section .img-container {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  margin-left: var(--mx-bg-neg);
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#attractions__img {
  height: 20rem;
  /* width: auto; */
}

.attraction__label {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem 0;
}

.attraction-label__name {
  margin-left: 1rem;
  font-size: 1.2rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Showcase section */

#showcase-section {
  padding-top: 35vh;
  /* position: relative; */
}

.bg-img {
  height: 85vh;
  width: 100vw;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  background: url(./Assets/Images/mountains_showcase_1920.jpg) no-repeat top;
  background-size: cover;
}

header h2,
header h4 {
  color: var(--color-text-white-dark);
  margin-bottom: 0.1em;
}

header h2 {
  text-transform: uppercase;
}

/* Contact section */

#contact-general-info,
#contact-additional-info {
  text-align: center;
}

#contact-section .home-section__description {
  text-align: center;
  font-size: 1rem;
}

#contact-section {
  background-color: var(--color-white-3);
}

#contact-additional-info {
  background-color: var(--color-white-5);
  margin-left: var(--mx-bg-neg);
  margin-right: var(--mx-bg-neg);
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.additional-info__title {
  color: var(--color-primary-dark);

  margin-bottom: 0.3rem;
  font-weight: 600;
}

.additional-info__content {
  font-size: 1.2em;
}

#hotel-hours {
  font-weight: 600;
}

.contact-info-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 2rem;
}

.contact-info {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}

.contact-info * {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

#contact-phone {
  width: 15ch;
  text-align: center;
  margin-left: 0;
}

.contact-info__type {
}

.contact-info__content {
}

#contact-form .section-header-small {
  text-align: center;
}
