.tiles-container {
  margin: 8rem var(--mx-bg) 8vh var(--mx-bg);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 250px);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.tiles-container div,
.tiles-container div a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tile-section {
  background-color: var(--color-primary-light);
}

.tiles-section__header {
  color: var(--color-text-white-dark);
  font-size: 2rem;
  margin: 0;
}

.tile {
  position: relative;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.tile__cover-layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 0;
}

.groszkowy {
  background-image: url(./../../Assets/Images/Rooms/groszkowy.png);
}
.niebieski {
  background-image: url(./../../Assets/Images/Rooms/niebieski.png);
}
.motylkowy {
  background-image: url(./../../Assets/Images/Rooms/motylkowy.png);
}
.zolty {
  background-image: url(./../../Assets/Images/Rooms/zolty.png);
}
.zloggia {
  background-image: url(./../../Assets/Images/Rooms/zloggia.png);
}
.rzymski {
  background-image: url(./../../Assets/Images/Rooms/rzymski.png);
}
.wschodni {
  background-image: url(./../../Assets/Images/Rooms/wschodni.png);
}
.zachodni {
  background-image: url(./../../Assets/Images/Rooms/zachodni.png);
}
.poludniowy {
  background-image: url(./../../Assets/Images/Rooms/poludniowy.png);
}
.otoczenie {
  background-image: url(./../../Assets/Images/Rooms/otoczenie.png);
}
.budynek {
  background-image: url(./../../Assets/Images/Rooms/budynek.png);
}
.widoki {
  background-image: url(./../../Assets/Images/Rooms/widoki.png);
}

.tile__cover-layer:hover {
  background-color: transparent;
  transition: background-color 0.5s ease-in;
}

.tile:hover .tile__text {
  display: none;
}

.tile__text {
  position: absolute;
}

.tile__type {
  color: var(--color-text-white-dark);
  font-size: 0.8rem;
  text-transform: uppercase;
  text-align: center;
}

.tile__name {
  color: var(--color-text-white-dark);
  font-size: 1.5rem;
  margin: 0;
}

.tile__img {
  z-index: -10;
}

.div1 {
  grid-area: 1 / 1 / 3 / 3;
}
.div2 {
  grid-area: 3 / 1 / 4 / 3;
}
.div3 {
  grid-area: 4 / 1 / 5 / 3;
}
.div4 {
  grid-area: 1 / 3 / 2 / 4;
}
.div5 {
  grid-area: 1 / 4 / 2 / 5;
}
.div6 {
  grid-area: 1 / 5 / 2 / 6;
}
.div7 {
  grid-area: 2 / 5 / 3 / 6;
}
.div8 {
  grid-area: 2 / 4 / 3 / 5;
}
.div9 {
  grid-area: 2 / 3 / 3 / 4;
}
.div10 {
  grid-area: 3 / 3 / 4 / 4;
}
.div11 {
  grid-area: 3 / 4 / 4 / 5;
}
.div12 {
  grid-area: 3 / 5 / 4 / 6;
}
.div13 {
  grid-area: 4 / 3 / 5 / 4;
}
.div14 {
  grid-area: 4 / 4 / 5 / 5;
}
.div15 {
  grid-area: 4 / 5 / 5 / 6;
}
.div16 {
  grid-area: 5 / 3 / 6 / 4;
}
.div17 {
  grid-area: 5 / 4 / 6 / 5;
}
.div18 {
  grid-area: 5 / 5 / 6 / 6;
}

@media (max-width: 1660px) {
  .tiles-container {
    grid-template-rows: repeat(5, 200px);
  }
}

@media (max-width: 750px) {
  .tiles-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(10, 200px);
  }

  .div1 {
    grid-area: 1 / 1 / 2 / 3;
  }
  .div2 {
    grid-area: 5 / 1 / 6 / 3;
  }
  .div3 {
    grid-area: 8 / 1 / 9 / 3;
  }
  .div4 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .div5 {
    grid-area: 2 / 2 / 3 / 3;
  }
  .div6 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .div7 {
    grid-area: 3 / 2 / 4 / 3;
  }
  .div8 {
    grid-area: 4 / 1 / 5 / 2;
  }
  .div9 {
    grid-area: 4 / 2 / 5 / 3;
  }
  .div10 {
    grid-area: 6 / 1 / 7 / 2;
  }
  .div11 {
    grid-area: 6 / 2 / 7 / 3;
  }
  .div12 {
    grid-area: 7 / 1 / 8 / 3;
  }
  .div13 {
    grid-area: 9 / 1 / 10 / 2;
  }
  .div14 {
    grid-area: 9 / 2 / 10 / 3;
  }
  .div15 {
    grid-area: 10 / 1 / 11 / 3;
  }

  .tiles-container {
    margin: 0;
  }
}

.lightbox-slider {
  top: 30px;
}
