.btn-container {
  display: flex;
  justify-content: center;
}

.btn {
  border-radius: 4px;
  /* 52 */
  padding: 0.5em 1.7em;
  margin: 1.5rem 1rem 1.5rem 0;
  color: var(--white-1);
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-text-white-light);
}

.btn--accent-dark {
  border: 3px solid var(--color-accent-dark);
  background-color: var(--color-accent-dark);
}

.btn--accent-dark:hover {
  background-color: var(--color-accent-light);
  border-color: var(--color-accent-light);
  color: var(--color-text-black-light);
  transition: color 0.5s ease;
}

.btn--accent-dark-outline {
  border: 3px solid var(--color-accent-dark);
  background-color: rgba(0, 0, 0, 0.2);
}

.btn--accent-dark-outline:hover {
  background-color: var(--color-accent-light);
  border-color: var(--color-accent-light);
  transition: background-color 0.5s ease;
  color: var(--color-text-black-light);
}
