footer {
  background-color: var(--color-primary-dark);
  text-align: center;
  padding: 3rem 5rem 2rem 5rem;
  overflow: hidden;
}

footer,
footer p {
  color: var(--color-text-white-dark);
}

.footer-header {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.footer-header__title {
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
}

.footer-header__description {
  font-size: 0.85rem;
}
footer .nav__menu ul {
  justify-content: center;
  align-items: center;
}

footer .nav-menu__link {
  margin-left: 1rem;
  margin-right: 1rem;
  padding-left: 0;
  font-size: 1.05rem;
}

footer .decor {
  background-color: var(--color-text-white-dark);
}

.footer-rights {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.right {
  text-align: right;
  font-size: 0.7em;
}

.footer-contact-info {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 1rem;
}

.contact-info__icon {
  width: 2ch;
  height: 2ch;
}

.contact-info--link {
  display: flex;
  align-items: center;
}

footer .contact-info__content {
  display: inline-block;
  margin-left: 0.7rem;
  margin-bottom: 0;
  font-style: normal;
  font-size: 0.8rem;
}

.contact-info--small {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

@media (max-width: 1200px) {
  .footer-contact-info {
    /* justify-content: flex-start; */
  }
  .contact-info--small {
    /* margin-left: 1rem; */
    width: 50%;
  }
  .right {
    text-align: center;
  }
  footer {
    display: flex;
    flex-flow: column nowrap;
  }
  footer .footer-header {
    margin-bottom: 0rem;
  }
  footer .nav__menu {
    order: 3;
  }
  footer .footer-rights {
    order: 2;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  footer .footer-contact-info {
    order: 4;
  }
  footer hr {
    order: 3;
    width: 100%;
    margin-top: 3rem;
  }
  .footer-header__description {
    display: none;
  }
}

@media (max-width: 750px) {
  .footer-contact-info {
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }
  .contact-info--small {
    width: auto;
  }

  footer .nav-menu__link:nth-child(1),
  footer .decor:nth-child(2) {
    display: none;
  }
}
