/* Showcase section */

#showcase-section {
  padding-top: 35vh;
  height: 100vh;
  z-index: 50;
  position: relative;
}

.bg-img {
  height: 85vh;
  width: 100vw;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover !important;
}

.showcase-layer {
  height: 85vh;
  width: 100vw;
  z-index: 21;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(15, 32, 22, 0.35);
  pointer-events: none;
}

.bg-img-1 {
  background: url(../Assets/Images/mountains_showcase_1920.jpg) no-repeat top;
}
.bg-img-2 {
  background: url(../Assets/Images/zachod3.jpg) no-repeat bottom;
}
.bg-img-3 {
  background: url(../Assets/Images/front4.jpg) no-repeat center;
}

.swiper-showcase {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

header {
  margin-bottom: 1rem;
}

header h2,
header h4 {
  color: var(--color-text-white-dark);
  margin-bottom: 0.1em;
}

header h2 {
  text-transform: uppercase;
}

.showcase__arrow {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
}
.showcase__arrow:hover {
  transform: scale(1.1);
  transition: transform 1s ease;
}
/* Rooms section */

#rooms-section {
  background-color: var(--color-white-3);
  overflow: hidden;
}

.room-cards-container {
  width: 100vw;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.room-card {
  background-color: var(--color-white-2);
  width: auto;
  margin: 2.5rem;
  box-shadow: 0px 0px 20px -8px rgba(175, 176, 191, 1);
}

.room-card-text-container {
  padding: 1rem 2rem;
  position: relative;
}

.room-card__image img {
  width: 100%;
  height: 100%;
}

.room-card__image img:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-color: rgba(71, 78, 37, 0.15);
}

.room-card__type {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  font-size: 0.8em;
}

.room-card__name {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.3em;
  margin-bottom: 0.5rem;
}

.room-card__description {
  display: none;
  text-align: justify;
  line-height: 140%;
  font-size: 0.9em;
}

.room-card__badge {
  background-color: var(--color-primary-dark);
  color: var(--color-text-white-dark);
  border-radius: 5px;
  padding: 0.5rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;

  margin-top: 1.2rem;
  margin-right: 1rem;
  transform: scale(1.1);
}

/* Utilities section */

.utilities-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 3rem 5rem;
  margin-top: 4rem;
}

.circle-icon-container {
  background-color: var(--color-primary-dark);
  border-radius: 50%;
  min-width: 2.5rem;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-icon {
  width: 60%;
  height: 60%;
  background-size: contain;
}

.smaller-icon {
  width: 54%;
  height: 54%;
}

.utility__header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.utility__header h5 {
  margin-bottom: 0;
  margin-left: 0.8rem;
  color: var(--color-primary-dark);
  font-size: 1.2rem;
  font-weight: 600;
}

.utility__description {
  margin-top: 0.8rem;
  font-size: 0.9rem;
}

/* Attractions section */

#attractions-section .img-container {
  width: 100vw;
  height: 20vw;
  min-height: 160px;
  display: flex;
  justify-content: space-around;
  margin-left: var(--mx-bg-neg);
  margin-top: 3rem;
  margin-bottom: 3rem;
  overflow-x: hidden;
}
#attractions-section .img-container img {
  margin: 0 0.5rem;
}
#attractions__img {
  height: 20rem;
  /* width: auto; */
}

.attraction__label {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem 0;
}

.attraction-label__name {
  margin-left: 1rem;
  font-size: 1.1rem;
}

/* Contact section */

#contact-general-info,
#contact-additional-info {
  text-align: center;
}

#contact-general-info,
#contact-form {
  padding-top: 6rem;
  padding-bottom: 3rem;
}

#contact-section .home-section__description {
  text-align: center;
  font-size: 1rem;
}

#contact-section {
  background-color: var(--color-white-3);
  padding-top: 0;
  padding-bottom: 0;
}

#contact-additional-info {
  background-color: var(--color-white-5);
  margin-left: var(--mx-bg-neg);
  margin-right: var(--mx-bg-neg);
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.additional-info__title {
  color: var(--color-primary-dark);
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.additional-info__content {
  font-size: 1rem;
  margin-bottom: 2rem;
}

#hotel-hours {
  font-weight: 600;
  margin-bottom: 1rem;
}

.contact-info-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.contact-info {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}

.contact-info * {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

.contact-info:nth-child(2) {
  border-left: 3px solid var(--color-primary-dark);
  border-right: 3px solid var(--color-primary-dark);
}

.contact-info img {
  width: 2.5rem;
  height: 2.5rem;
}

/* Contact form */

#contact-form {
  background-color: var(--color-white-2);
  width: 100%;
}

#contact-form .section-header-small {
  text-align: center;
  margin-bottom: 3rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50rem;
}

form label {
  display: block;
  align-self: flex-start;
  font-size: 0.9em;
}

.form__input {
  background-color: var(--color-white-5);
  color: var(--color-text-black-light);
  border: none;
  border-radius: 3px;
  width: 50rem;
  height: 2.5rem;
  margin-bottom: 1rem;
  margin-top: 0.8rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.form__input-message {
  height: 5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  resize: vertical;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  background-color: red;
}

input[type="number"]::-webkit-inner-spin-button {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
  background-color: brown;
}

.form__input-date {
  width: 12rem;
  font-size: 0.9em;
}

.form__input-number {
  width: 12rem;
}

.form__label-number {
  height: 3.5rem;
  display: flex;
  align-items: center;
}

.form__details__header {
  margin-bottom: 1.5rem;
  font-size: 0.8rem;
  margin-top: 1.5rem;
  display: inline-block;
}

.form__details__arrow {
  background-image: url(./../Assets/Icons/Arrow-up-black.svg);
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  height: 1rem;
  width: 1rem;
  margin-left: 1rem;
  position: relative;
  top: 0.5rem;
  cursor: pointer;
}

.form__details__arrow--up {
  background-image: url(./../Assets/Icons/Arrow-down-black.svg);
}

.form__details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form__details__column {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form__details__column .form__input {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.form-button-container {
  align-self: flex-end;
}
/* Map section */

.map-responsive {
  overflow: hidden;
  padding-bottom: 25%;
  position: relative;
  height: 0;
}

.map-responsive::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-color: rgba(71, 78, 37, 0.15);
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* 
not used classes
contact-info__content
contact-info__type 
utility
*/
