nav {
  padding: 1rem var(--mx-sm) 0.5rem var(--mx-sm);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
  position: fixed;
  width: 100vw;
  top: 0%;
  background-color: transparent;
  box-shadow: none;
  color: var(--color-text-white-dark);
  z-index: 51;
}

.nav__header {
  font-size: 1.4rem;
}

.nav__contact-info {
}

.nav__menu ul {
  display: flex;
  flex-flow: row unwrap;
  justify-content: space-between;
}

.nav-menu__link {
  text-transform: uppercase;
  padding-left: 2vw;
  font-size: 1.1rem;
  /* color: (--color-text-white-dark); */
}
.nav-menu__link:hover {
  color: #4e5835;
}

.nav-menu__link.active:after {
  content: "";
  display: block;
  margin: auto;
  margin-top: 0.1rem;
  background-color: transparent;
  border-radius: 1px;
  transform: rotate(45deg);
  height: 0.4rem;
  width: 0.4rem;
}

.nav_phone-icon {
  background-image: url(./../Assets/Icons/icons8-phone-30-white.png);
  display: inline-block;
  background-size: contain;
  height: 1.2rem;
  width: 1.2rem;
  margin-right: 0.5rem;
  position: relative;
  top: 0.15rem;
}

.nav-solid {
  color: var(--color-text-black-light);
  box-shadow: 0px 0px 7px 2px rgba(152, 158, 139, 0.25);
  transition: color 2s ease, background-color 2s ease;
  background-color: rgb(255, 252, 249, 0.9);
  backdrop-filter: blur(2px);
}

.nav-solid .nav-menu__link.active:after {
  background-color: var(--color-primary-dark);
}

.nav-solid .nav_phone-icon {
  background-image: url(./../Assets/Icons/icons8-phone-30-black.png);
  transition: background-image 2s ease;
}

/* Responsiveness */
@media (max-width: 1200px) {

  .nav__contact-info {
    display: none;
  }
}

@media (max-width: 750px) {
  nav {
    color: var(--color-text-black-light);
    box-shadow: 0px 0px 7px 2px rgba(152, 158, 139, 0.25);
    transition: color 2s ease, background-color 2s ease;
    background-color: rgb(255, 252, 249, 0.9);
    backdrop-filter: blur(2px);
  }

  menu{
    display: none;
  }

  .nav__contact-info {
    display: block;
  }

  footer menu{
    display: block;
  }

  .nav__burger-bar {
    background-image: url(./../Assets/Icons/burger-menu.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1rem;
    width: 1.4rem;
  }

  .dropdown-open {
    z-index:1000;
    display: flex;
    position: absolute;
    top: 3.16rem;
    background-color: rgba(249, 246, 243, 0.94);
    width: 100%;
    margin-left: var(--mx-sm-neg);
    backdrop-filter: blur(2px);
  }

  .dropdown-open ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    margin: 1rem var(--mx-sm);
  }
  .dropdown-open .nav-menu__link{
    margin: 0.5rem 0;
  }
  .nav-menu__link.active:after {
    content: none;
  }
  .nav-menu__link.active {
    font-weight: 600;
  }
}

@media (max-width: 400px) {
  .dropdown-open {
    top: 3.12rem;
  }
}