:root {
  --very-large: 1920px;
  --large: 1660px;
  --medium: 1200px;
  --small: 750px;
  --very-small: 400px;
}

/* Global */
@media (max-width: 1920px) {
  html {
    font-size: 16px !important;
    --mx-bg: 14vw;
    --mx-bg-neg: -14vw;
  }
}

@media (max-width: 1660px) {
  html {
    font-size: 14px !important;
    --mx-bg: 12vw;
    --mx-bg-neg: -12vw;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 12px !important;
    --mx-bg: 10vw;
    --mx-bg-neg: -10vw;
    /* font-size: 15px !important;
    --mx-bg: 6vw;
    --mx-bg-neg: -6vw; */
  }
}

@media (max-width: 750px) {
  html {
    --mx-bg: 6vw;
    --mx-bg-neg: -6vw;
    font-size: 11px !important;
  }
}

@media (max-width: 400px) {
  html {
    --mx-bg: 6vw;
    --mx-bg-neg: -6vw;
    font-size: 10px !important;
  }
  /* html {
    font-size: 12px !important;
    --mx-bg: 4vw;
  } */
}

/* Main Page */
@media (max-width: 1920px) {
}

@media (max-width: 1660px) {
  .room-card__badge {
    font-size: 0.9em;
    padding: 0.4rem;
  }
}

@media (max-width: 1200px) {
  .swiper-button-prev {
    left: 38%;
  }
  .swiper-button-next {
    right: 38%;
  }
  .form-container {
    width: 100%;
  }
  .form__input {
    width: 100%;
  }
  form {
    width: 100%;
  }
}
.attraction_labels {
  flex-wrap: wrap;
}

@media (max-width: 750px) {
  .swiper-button {
    top: 99%;
  }
  .swiper-button-prev {
    left: 30%;
  }
  .swiper-button-next {
    right: 30%;
  }
  .attraction__label {
    width: 50%;
    margin: 0.5rem 0;
  }
  .utilities-container {
    gap: 1.5rem 3rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .contact-info-container {
    flex-direction: column;
  }
  .contact-info {
    width: 70%;
    align-self: center;
  }
  .contact-info:nth-child(2) {
    border-bottom: 2px solid var(--color-primary-dark);
    border-top: 2px solid var(--color-primary-dark);
    border-left: none;
    border-right: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .form-button-container {
    align-self: center;
  }
  .map-responsive {
    padding-bottom: 60%;
    margin-top: 0;
    margin-bottom: 0;
  }
  .room-card {
    margin: 1rem;
  }
  .room-card__name {
    font-size: 1.1em;
    margin-top: 0.8rem;
  }

  header {
    text-align: center;
  }

  #showcase-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .btn {
    margin: 1rem 1rem 0rem 0;
  }
}

@media (max-width: 400px) {
  .swiper-button {
    top: 100%;
  }
  .attraction__label {
    width: 100%;
  }
  #showcase-section btn {
    display: block;
  }
  .map-responsive {
    padding-bottom: 70%;
  }
  .contact-info {
    width: 90%;
  }
}
