html {
  --very-large: 1660px;
  --large: 1660px;
  --medium: 1660px;
  --small: 1660px;
  --very-small: 1660px;
}

@media (min-width: 1660px) {
  html {
    font-size: 16px !important;
  }
}

@media (min-width: 1920px) {
  html {
    font-size: 18px !important;
  }
}
