html {
  --color-accent-dark: #e46758;
  --color-accent-light: #fa7363;
  --color-primary-dark: #747e5b;
  --color-primary-light: #a0ab84;
  --color-white-1: #fffef9;
  --color-white-2: #fbfaf3;
  --color-white-3: #f6f4e9;
  --color-white-4: #EDEBDF;
  --color-white-5: #eeece1;
  --color-gray-dark: #282926;
  --color-gray-light: #3a3b36;
  --color-text-white-light: var(--color-white-1);
  --color-text-white-dark: var(--color-white-2);
  --mx-sm: 10vw;
  --mx-bg: 15vw;
  --mx-bg-neg: -15vw;
}
